.header__container {
  color: white;
  padding: 1rem;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(https://assets.nflxext.com/ffe/siteui/vlv3/70731dc8-8977-4ed7-9a0a-421f510aea00/8cbb059e-e3a8-4e36-80fe-33b90a88b39f/RU-en-20200914-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}

.resultSort__container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  background-color: #dddddd;
}

.sortBtn {
  text-decoration: none;
  color: #000000;
  background: transparent;
  padding: 0 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
}

.sortBtn:hover {
  opacity: 0.5;
}

.sortBtn:active {
  opacity: 0.8;
}

.sortBtn:focus {
  color: tomato;
  font-weight: 600;
}
