.btn {
  border: 1px solid transparent;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.5;
}

.btnSearch {
  background-color: #c82333;
  border-color: #bd2130;
}

.btnSearchBy {
  background-color: #6c757d;
  border-color: #6c757d;
  margin-right: 10px;
}