.btn {
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.5;
}

.btn_search {
  background-color: #c82333;
}

.btn_search-by {
  background-color: #6c757d;
  border-color: #6c757d;
  margin-right: 10px;
}

.btn_sort {
  text-decoration: none;
  color: #000000;
  background: transparent;
  padding: 0 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
}

.btn_sort:hover {
  opacity: 0.5;
}

.btn_sort_active {
  color: tomato;
  font-weight: 600;
}

.active {
  background-color: #c82333;
  border: none;
  outline: none;  
}
