.MovieItem {  
  color: gray;
  margin: 1rem;  
}

.MovieItem__img {
  width: 300px;
}

.MovieItem__info {
  display: flex;  
  justify-content: space-between;
  padding: 0.3rem 0.5rem;
}

.MovieItem__year {
  font-size: 0.8rem;
  padding: 0 0.4rem;
  border: 1px solid gray;
}
