.search__container {
  margin: 0 auto;
  max-width: 1060px;
  padding: 1rem 3rem;
}

.btn-search__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;    
}

.btn_search {  
  height: 36px;
  }

.movie-info {
  display: flex;
}

.movie-info__img {
  width: 240px;
}

.movie-info__description {
  padding: 50px 30px 30px 70px;
}

.movie-info__title {
  color: #dc3545;;
}

.movie-info__video-parameters{
  margin: 20px 0;
}

.movie-info__video-parameters strong{
  padding-right: 20px;
}
