.search__container {
  margin: 0 auto;
  max-width: 1060px;
  padding: 1rem 3rem;
}

.btnSearch_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;    
}

.btn-search {  
  height: 36px;
  }

.conteiner {
  display: flex;
}

.MovieInfo__img {
  width: 320px;
}

.discription {
  padding: 50px 30px 30px 70px;
}

.h2 {
  color: #dc3545;;
}

.videoParameters{
  margin: 20px 0;
}

.videoParameters strong{
  padding-right: 20px;
}